.grid-container{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:"nav nav nav nav"
    "apple beats amazon adidas"
    "music headphones shop shoes"
}

.nav{
    grid-area:nav;
    display:grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows:auto;
    grid-template-areas:"logo . links search"
}

.logo{
    grid-area: logo;
}


.links{
    grid-area:links;
}


.search{
    grid-area: search;
}

.adidas{
    grid-area:adidas;
}

.apple{
    grid-area:apple;
}

.amazon{
    grid-area:amazon;
}

.beats{
    grid-area:beats
}

.adidas{
    grid-area:adidas;
}

.music{
    grid-area:music;
}

.headphones{
    grid-area:headphones;
}

.shop{
    grid-area:shop;
}

.shoes{
    grid-area:shoes;
}


.grid-container > div{
    max-height: 50vh;
    align-self: center;
    border: 1px solid #eee;
    padding: 2em;
}

img {
    height: auto;
    width:100%
}

.nav > img